version: "3"
services:
  redis:
    image: redis:6-alpine
    container_name: send-redis
    ports:
      - 27125:6379
    networks:
      - shared_network
  nodejs:
    image: node:20-alpine
    container_name: send
    working_dir: /data/app/send
    volumes:
      - /data/app/send:/data/app/send
    ports:
      - "3004:3000"
    command: ["/bin/sh", "-c", "ls && npm run start"]
    networks:
      - shared_network
networks:
  shared_network:
    external: true
